.classList {
    height: 90px;
}
.displayClass {
    padding-left: 5px;
}
.listPadding {
    margin-top: 0px;
    margin-left: 5px;
}
.classItems {
    text-align: center;
}

a {
    color:black;
    text-decoration: none;
}
.title {
    text-align: center;
}
